{% extends "base.html" %}
{% load boost %}

{% block main %}



  <h2 class="tournament-title">{{round.tournament.title}} Round{{ round.round }}</h2>
  <a href="{% url 'tournament_detail' round.tournament.id %}">大会ページに戻る</a></th>

  {% comment %} {% if edit_formset %} {% endcomment %}
  <form action="" method="post">

  <div class="save-round">
    <button type="submit" class="btn btn-primary">ラウンド結果保存</button>
  </div>

<div class="box">
  {% for form,match in edit_formset|zip:matches %}

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title player-name">{{match.player_A.name}}</h3>
      <p class="card-text player-name">

        {% if not match.player_A.dummy %}
            DROP{{form.player_A_drop}}
        {% endif %}
      
      </p>
    </div>
  </div>
  <div class="card point-board">
  


    <table>
      <tr>

        <th colspan="3" style="text-align:center"><h6 class="dash">Table{{match.table}}</h6></th>

      </tr>
        <tr>
          
            <td>
              {{ form.player_A_point }}
            </td>
            <td>
              <h5 class="dash">―</p>
            </td>
            <td>
              {{ form.player_B_point }}
            </td>

        <tr>
        {% if not match.walkover_match %}
          <td></td>
          <td></td>
          <td></td>
          {% else %}
          <td colspan="3" style="text-align:center">不戦勝</td>
          {% endif %}
        </tr>  
          

    </table>


  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title player-name">{{match.player_B.name}}</h3>
      <p class="card-text player-name">
        {% if not match.player_B.dummy %}
          DROP{{form.player_B_drop}}
        {% endif %}
      </p>
    </div>
  </div>
</div>

    {% for field in form.hidden_fields %}
                {{ field }}
    {% endfor %}
    
    
    
  {% endfor %}
</div>



  {{ edit_formset.management_form }}
  {% csrf_token %}
  
</form>
{% comment %} {% else %}
<p>マッチはまだ作成されていません</p>
{% endif %} {% endcomment %}

{% endblock %}

