{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block extraheader %}
{% endblock %}

{% block main %}
<h2>{{ tournament.title }}{% comment %}  by {{ tournament.created_by.username }} {% endcomment %}</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="home-tab"
      data-bs-toggle="tab"
      data-bs-target="#home"
      type="button"
      role="tab"
      aria-controls="home"
      aria-selected="false"
    >
      大会詳細
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="contact-tab"
      data-bs-toggle="tab"
      data-bs-target="#contact"
      type="button"
      role="tab"
      aria-controls="round"
      aria-selected="true"
    >
      参加者詳細
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="contact-tab"
      data-bs-toggle="tab"
      data-bs-target="#round"
      type="button"
      role="tab"
      aria-controls="round"
      aria-selected="false"
    >
      ラウンド詳細
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >

    <div class="card">
        <div class="card-body">
            {% comment %} <h3 class="card-title">{{ tournament.title }}</h3> {% endcomment %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">参加人数:{{tournament.player_num}}人</li>
                <li class="list-group-item">ラウンド数:{{tournament.round}}</li>
                <li class="list-group-item">
                  現在ラウンド:
                  {% if tournament.current_round == 0 %}
                  未開始
                  {% else %}
                  Round{{tournament.current_round}}
                  {% endif %}
                  </li>
                <li class="list-group-item">作成日:{{tournament.created_at}}</li>
            </ul>
            
        </div>
    </div>

  </div>
  <div
    class="tab-pane fade show active"
    id="contact"
    role="tabpanel"
    aria-labelledby="contact-tab"
  >
    {% comment %} Round1の結果が保存されていたらプレイヤーの戦績反映実行可 {% endcomment %}
    {% if current_round_save_flag %}
        <a href="{% url 'save_players_score' tournament.id %}" class="btn btn-primary">プレイヤー戦績保存</a>
    {% endif %}


  <table class="table">
    <thead>
    <tr>
    {% comment %} Round2が作成されていたら順位を表示 {% endcomment %}
    {% comment %} Round1でプレイヤーの戦績反映したら順位は表示されない {% endcomment %}
    {% if tournament.current_round > 1  %}
        <th>順位</th>
    {% endif %}
        <th>参加者名</th>
        <th>勝ち点</th>
        <th>OMW%</th>
        <th>勝手累点</th>
        <th>平均OMW%</th>
        <th>ドロップ</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
        <tr>
          {% comment %} Round2が作成されていたら順位を表示 {% endcomment %}
          {% if tournament.current_round > 1  %}
            <th>{{ forloop.counter }}</th>
          {% endif %}
            <th>{{ player.name }}</th>
            <th>{{ player.points }}</th>
            <th>{{ player.omw|floatformat:5  }}</th>
            <th>{{ player.sowp }}</th>
            <th>{{ player.avr_omw|floatformat:5 }}</th>
            <th>{{ player.drop }}</th>
            <th><a href="{% url 'player_edit' player.id %}">編集</a></th>
            {% comment %} <th><a href="{% url 'tournament_detail' tournament.id %}">{{ tournament.title }}</a></th> {% endcomment %}
        </tr>

    {% endfor %}
    </tbody>
</table>

  </div>
    <div
    class="tab-pane fade"
    id="round"
    role="tabpanel"
    aria-labelledby="round-tab"
  >
{% if current_round_save_flag or tournament.current_round == 0%}
<a href="{% url 'round_new' tournament.id %}" class="btn btn-primary">新規ラウンド作成</a>
{% endif %}

{% if rounds %}
<table class="table">
    <thead>
    <tr>
        <th>Round</th>
    </tr>
    </thead>
    <tbody>
    {% for round in rounds %}
    <tr>
        <th>Round{{ round.round }}</th>
        {% if tournament.current_round == round.round %}
        <th><a href="{% url 'round_detail' round.id %}">編集</a></th> {% comment %} ここをラウンド詳細にする {% endcomment %}
        {% else %}
        <th></th>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>ラウンドはまだ作成されていません</p>
{% endif %}
  </div>
</div>


{% endblock %}

